# wind power Generation forecasting

In [52]:
pip install pandas

Requirement already satisfied: pandas in c:\users\asus\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\asus\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\asus\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\asus\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\asus\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [53]:
pip install numpy

Requirement already satisfied: numpy in c:\users\asus\appdata\local\programs\python\python313\lib\site-packages (2.2.4)
Note: you may need to restart the kernel to use updated packages.

In [54]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\asus\appdata\local\programs\python\python313\lib\site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\asus\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (2.2.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\asus\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.15.2)
Requirement already satisfied: joblib>=1.2.0 in c:\users\asus\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\asus\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (3.6.0)
Note: you may need to restart the kernel to use updated packages.

In [55]:
pip install seaborn

Requirement already satisfied: seaborn in c:\users\asus\appdata\local\programs\python\python313\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\asus\appdata\local\programs\python\python313\lib\site-packages (from seaborn) (2.2.4)
Requirement already satisfied: pandas>=1.2 in c:\users\asus\appdata\local\programs\python\python313\lib\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\asus\appdata\local\programs\python\python313\lib\site-packages (from seaborn) (3.10.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\asus\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\asus\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\asus\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.57.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\asus\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\asus\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\asus\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\asus\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\asus\appdata\local\programs\python\python313\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus\appdata\local\programs\python\python313\lib\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\asus\appdata\local\programs\python\python313\lib\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\asus\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [56]:
pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\asus\appdata\local\programs\python\python313\lib\site-packages (3.10.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\asus\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\asus\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\asus\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (4.57.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\asus\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in c:\users\asus\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (2.2.4)
Requirement already satisfied: packaging>=20.0 in c:\users\asus\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\asus\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\asus\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\asus\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\asus\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [57]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [58]:
location1 = pd.read_csv('location1.csv')
location2 = pd.read_csv('location2.csv')
location3 = pd.read_csv('location3.csv')
location4 = pd.read_csv('location4.csv')

In [59]:
location1.head()

,Time,temperature_2m,relativehumidity_2m,dewpoint_2m,windspeed_10m,windspeed_100m,winddirection_10m,winddirection_100m,windgusts_10m,Power
0,2017-01-02 00:00:00,28.5,85,24.5,1.44,1.26,146,162,1.4,0.1635
1,2017-01-02 01:00:00,28.4,86,24.7,2.06,3.99,151,158,4.4,0.1424
2,2017-01-02 02:00:00,26.8,91,24.5,1.30,2.78,148,150,3.2,0.1214
3,2017-01-02 03:00:00,27.4,88,24.3,1.30,2.69,58,105,1.6,0.1003
4,2017-01-02 04:00:00,27.3,88,24.1,2.47,4.43,58,84,4.0,0.0793

In [60]:
location2.head(58)

,Time,temperature_2m,relativehumidity_2m,dewpoint_2m,windspeed_10m,windspeed_100m,winddirection_10m,winddirection_100m,windgusts_10m,Power
0,2017-01-02 00:00:00,14.5,91,12.4,6.37,9.58,68,72,9.9,0.2574
1,2017-01-02 01:00:00,14.5,92,12.7,6.46,9.23,68,72,9.5,0.2535
2,2017-01-02 02:00:00,14.7,92,12.7,6.18,9.27,67,74,9.4,0.2497
3,2017-01-02 03:00:00,14.7,92,12.8,5.91,9.08,62,69,9.1,0.2458
4,2017-01-02 04:00:00,14.8,92,12.9,5.88,8.72,58,65,8.7,0.2419
5,2017-01-02 05:00:00,14.7,92,12.9,6.12,8.83,52,59,8.8,0.2354
6,2017-01-02 06:00:00,14.4,92,12.5,6.37,8.98,48,52,9.1,0.2261
7,2017-01-02 07:00:00,14.2,92,12.3,6.33,9.24,51,56,9.3,0.2168
8,2017-01-02 08:00:00,14.1,92,12.2,5.97,9.10,50,57,9.2,0.2075
9,2017-01-02 09:00:00,14.2,92,12.2,5.74,8.77,49,55,8.8,0.1982
10,2017-01-02 10:00:00,14.5,91,12.3,5.87,8.17,46,50,8.6,0.1889
11,2017-01-02 11:00:00,14.8,91,12.6,5.46,7.28,49,53,8.6,0.1796
12,2017-01-02 12:00:00,15.4,91,13.1,5.03,6.72,41,46,8.2,0.1700
13,2017-01-02 13:00:00,15.5,91,13.3,5.28,6.96,29,35,7.6,0.1600
14,2017-01-02 14:00:00,16.0,90,13.6,4.46,5.73,20,25,8.0,0.1500
15,2017-01-02 15:00:00,15.4,91,13.2,6.13,8.32,24,27,8.7,0.1400
16,2017-01-02 16:00:00,14.8,91,12.6,6.24,8.32,16,18,9.6,0.1300
17,2017-01-02 17:00:00,13.8,90,11.4,6.79,9.00,9,12,9.8,0.1200
18,2017-01-02 18:00:00,12.9,88,10.0,6.41,8.40,357,359,9.9,0.1295
19,2017-01-02 19:00:00,11.9,87,8.9,6.58,8.75,351,354,9.6,0.1586
20,2017-01-02 20:00:00,11.2,86,7.9,6.55,8.63,348,350,9.5,0.1877
21,2017-01-02 21:00:00,10.0,84,6.2,7.20,9.86,335,337,10.4,0.2168
22,2017-01-02 22:00:00,8.7,83,4.6,7.94,10.61,329,331,11.2,0.2459
23,2017-01-02 23:00:00,6.2,83,2.1,8.94,12.58,328,331,12.8,0.2750
24,2017-01-03 00:00:00,3.8,82,-0.5,9.30,13.21,328,331,13.3,0.3041
25,2017-01-03 01:00:00,2.1,80,-2.6,10.03,14.27,330,332,14.5,0.3332
26,2017-01-03 02:00:00,0.8,79,-4.2,9.81,14.05,330,332,14.6,0.3623
27,2017-01-03 03:00:00,0.2,79,-4.8,10.11,14.31,333,334,14.6,0.3914
28,2017-01-03 04:00:00,0.1,79,-4.9,9.26,13.42,334,335,14.6,0.4205
29,2017-01-03 05:00:00,0.1,79,-4.9,8.88,12.74,326,329,13.4,0.4486
30,2017-01-03 06:00:00,-1.0,79,-5.9,11.14,15.76,323,324,14.4,0.4757
31,2017-01-03 07:00:00,-2.8,79,-7.6,10.91,15.85,319,321,16.1,0.5029
32,2017-01-03 08:00:00,-3.6,79,-8.6,11.03,16.12,314,316,15.9,0.5300
33,2017-01-03 09:00:00,-3.6,78,-8.9,11.50,16.58,310,312,16.6,0.5571
34,2017-01-03 10:00:00,-3.5,77,-8.9,11.27,16.07,311,312,16.7,0.5843
35,2017-01-03 11:00:00,-3.8,77,-9.2,10.99,15.29,311,312,16.4,0.6114
36,2017-01-03 12:00:00,-4.4,76,-10.0,10.18,15.25,308,310,15.9,0.6154
37,2017-01-03 13:00:00,-4.9,76,-10.6,10.18,14.69,308,310,14.9,0.5962
38,2017-01-03 14:00:00,-5.0,75,-10.8,9.70,14.12,307,310,14.8,0.5771
39,2017-01-03 15:00:00,-5.3,75,-11.0,9.36,13.65,307,309,14.6,0.5579
40,2017-01-03 16:00:00,-6.2,76,-11.8,9.38,13.81,306,309,13.7,0.5388
41,2017-01-03 17:00:00,-7.5,76,-13.1,9.04,13.74,303,306,13.6,0.5196
42,2017-01-03 18:00:00,-8.0,76,-13.5,8.96,13.81,309,312,13.6,0.5100
43,2017-01-03 19:00:00,-8.9,76,-14.3,9.27,14.17,305,308,13.3,0.5100
44,2017-01-03 20:00:00,-9.5,76,-15.0,9.38,14.40,301,306,13.5,0.5100
45,2017-01-03 21:00:00,-10.0,75,-15.7,9.28,14.31,300,304,13.5,0.5100
46,2017-01-03 22:00:00,-10.7,74,-16.6,9.52,14.65,302,305,13.7,0.5100
47,2017-01-03 23:00:00,-11.3,73,-17.4,9.13,14.24,302,306,13.7,0.5100
48,2017-01-04 00:00:00,-11.8,73,-18.1,8.82,13.76,299,304,13.2,0.5100
49,2017-01-04 01:00:00,-12.4,73,-18.5,8.59,13.55,296,301,12.6,0.5100
50,2017-01-04 02:00:00,-12.7,74,-18.7,8.54,13.52,297,302,12.4,0.5100
51,2017-01-04 03:00:00,-12.8,74,-18.8,8.37,13.34,299,304,12.3,0.5100
52,2017-01-04 04:00:00,-12.7,74,-18.6,8.06,12.98,300,305,12.1,0.5100
53,2017-01-04 05:00:00,-12.6,75,-18.4,7.89,12.86,300,307,11.6,0.4862
54,2017-01-04 06:00:00,-13.2,76,-18.7,7.02,11.70,303,310,11.2,0.4388
55,2017-01-04 07:00:00,-13.6,76,-19.0,6.75,11.29,295,305,10.0,0.3913
56,2017-01-04 08:00:00,-14.0,76,-19.5,6.71,11.14,287,296,9.7,0.3438
57,2017-01-04 09:00:00,-13.9,75,-19.5,6.77,11.14,286,295,9.6,0.2962

In [61]:
#Add a new column
location1['Location']='Location1'
location2['Location']='Location2'
location3['Location']='Location3'
location4['Location']='Location4'

# concatinate the data frame
merged_data = pd.concat([location1,location2,location3,location4],ignore_index=True)
merged_data.head()

,Time,temperature_2m,relativehumidity_2m,dewpoint_2m,windspeed_10m,windspeed_100m,winddirection_10m,winddirection_100m,windgusts_10m,Power,Location
0,2017-01-02 00:00:00,28.5,85,24.5,1.44,1.26,146,162,1.4,0.1635,Location1
1,2017-01-02 01:00:00,28.4,86,24.7,2.06,3.99,151,158,4.4,0.1424,Location1
2,2017-01-02 02:00:00,26.8,91,24.5,1.30,2.78,148,150,3.2,0.1214,Location1
3,2017-01-02 03:00:00,27.4,88,24.3,1.30,2.69,58,105,1.6,0.1003,Location1
4,2017-01-02 04:00:00,27.3,88,24.1,2.47,4.43,58,84,4.0,0.0793,Location1

In [62]:
#save the merged data set to new csv file
merged_data.to_csv('merged_locations.csv' , index = False)

In [63]:
# To show the merged data info
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175200 entries, 0 to 175199
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Time                 175200 non-null  object
 1   temperature_2m       175200 non-null  float64
 2   relativehumidity_2m  175200 non-null  int64
 3   dewpoint_2m          175200 non-null  float64
 4   windspeed_10m        175200 non-null  float64
 5   windspeed_100m       175200 non-null  float64
 6   winddirection_10m    175200 non-null  int64
 7   winddirection_100m   175200 non-null  int64
 8   windgusts_10m        175200 non-null  float64
 9   Power                175200 non-null  float64
 10  Location             175200 non-null  object
dtypes: float64(6), int64(3), object(2)
memory usage: 14.7+ MB

In [64]:
# To check the statistics of Dataset
merged_data.describe()

,temperature_2m,relativehumidity_2m,dewpoint_2m,windspeed_10m,windspeed_100m,winddirection_10m,winddirection_100m,windgusts_10m,Power
count,175200.000000,175200.000000,175200.000000,175200.000000,175200.000000,175200.000000,175200.000000,175200.000000,175200.000000
mean,46.655994,70.155291,36.516241,4.157639,6.879334,201.589446,201.539070,8.038205,0.303429
std,22.012738,17.326678,20.933153,2.012682,3.043964,99.639040,100.683777,3.617488,0.257325
min,-31.200000,9.000000,-36.200000,0.000000,0.000000,1.000000,0.000000,0.500000,0.000000
25%,30.200000,57.000000,21.900000,2.630000,4.700000,130.000000,129.000000,5.300000,0.087700
50%,46.900000,72.000000,36.200000,3.850000,6.680000,211.000000,211.000000,7.600000,0.233100
75%,65.300000,84.000000,54.600000,5.380000,8.800000,288.000000,290.000000,10.300000,0.474200
max,101.700000,100.000000,78.700000,18.530000,24.590000,360.000000,360.000000,29.200000,0.999400

In [65]:
# Check the missing value
merged_data.isnull().sum()

Time                   0
temperature_2m         0
relativehumidity_2m    0
dewpoint_2m            0
windspeed_10m          0
windspeed_100m         0
winddirection_10m      0
winddirection_100m     0
windgusts_10m          0
Power                  0
Location               0
dtype: int64

In [66]:
# To check the duplicate values
merged_data.duplicated().sum()

np.int64(0)

In [67]:
# To encode the values or to assign some values and encode catagorical values
merged_data = pd.get_dummies(merged_data,columns=['Location'],drop_first=True)
merged_data.head()

,Time,temperature_2m,relativehumidity_2m,dewpoint_2m,windspeed_10m,windspeed_100m,winddirection_10m,winddirection_100m,windgusts_10m,Power,Location_Location2,Location_Location3,Location_Location4
0,2017-01-02 00:00:00,28.5,85,24.5,1.44,1.26,146,162,1.4,0.1635,False,False,False
1,2017-01-02 01:00:00,28.4,86,24.7,2.06,3.99,151,158,4.4,0.1424,False,False,False
2,2017-01-02 02:00:00,26.8,91,24.5,1.30,2.78,148,150,3.2,0.1214,False,False,False
3,2017-01-02 03:00:00,27.4,88,24.3,1.30,2.69,58,105,1.6,0.1003,False,False,False
4,2017-01-02 04:00:00,27.3,88,24.1,2.47,4.43,58,84,4.0,0.0793,False,False,False

In [68]:
merged_data.columns

Index(['Time', 'temperature_2m', 'relativehumidity_2m', 'dewpoint_2m',
       'windspeed_10m', 'windspeed_100m', 'winddirection_10m',
       'winddirection_100m', 'windgusts_10m', 'Power', 'Location_Location2',
       'Location_Location3', 'Location_Location4'],
      dtype='object')

In [69]:
# Let's  remove the time column
merged_data.drop('Time', axis=1, inplace=True)
merged_data.head()

,temperature_2m,relativehumidity_2m,dewpoint_2m,windspeed_10m,windspeed_100m,winddirection_10m,winddirection_100m,windgusts_10m,Power,Location_Location2,Location_Location3,Location_Location4
0,28.5,85,24.5,1.44,1.26,146,162,1.4,0.1635,False,False,False
1,28.4,86,24.7,2.06,3.99,151,158,4.4,0.1424,False,False,False
2,26.8,91,24.5,1.30,2.78,148,150,3.2,0.1214,False,False,False
3,27.4,88,24.3,1.30,2.69,58,105,1.6,0.1003,False,False,False
4,27.3,88,24.1,2.47,4.43,58,84,4.0,0.0793,False,False,False

In [70]:
merged_data.fillna(merged_data.median(), inplace=True)
merged_data.head()

,temperature_2m,relativehumidity_2m,dewpoint_2m,windspeed_10m,windspeed_100m,winddirection_10m,winddirection_100m,windgusts_10m,Power,Location_Location2,Location_Location3,Location_Location4
0,28.5,85,24.5,1.44,1.26,146,162,1.4,0.1635,False,False,False
1,28.4,86,24.7,2.06,3.99,151,158,4.4,0.1424,False,False,False
2,26.8,91,24.5,1.30,2.78,148,150,3.2,0.1214,False,False,False
3,27.4,88,24.3,1.30,2.69,58,105,1.6,0.1003,False,False,False
4,27.3,88,24.1,2.47,4.43,58,84,4.0,0.0793,False,False,False

In [71]:
merged_data.corr()
merged_data.head()

,temperature_2m,relativehumidity_2m,dewpoint_2m,windspeed_10m,windspeed_100m,winddirection_10m,winddirection_100m,windgusts_10m,Power,Location_Location2,Location_Location3,Location_Location4
0,28.5,85,24.5,1.44,1.26,146,162,1.4,0.1635,False,False,False
1,28.4,86,24.7,2.06,3.99,151,158,4.4,0.1424,False,False,False
2,26.8,91,24.5,1.30,2.78,148,150,3.2,0.1214,False,False,False
3,27.4,88,24.3,1.30,2.69,58,105,1.6,0.1003,False,False,False
4,27.3,88,24.1,2.47,4.43,58,84,4.0,0.0793,False,False,False

In [72]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
merged_data_scaled = pd.DataFrame(scaler.fit_transform(merged_data), columns=merged_data.columns)
merged_data_scaled.head()

merged_data.head()

,temperature_2m,relativehumidity_2m,dewpoint_2m,windspeed_10m,windspeed_100m,winddirection_10m,winddirection_100m,windgusts_10m,Power,Location_Location2,Location_Location3,Location_Location4
0,28.5,85,24.5,1.44,1.26,146,162,1.4,0.1635,False,False,False
1,28.4,86,24.7,2.06,3.99,151,158,4.4,0.1424,False,False,False
2,26.8,91,24.5,1.30,2.78,148,150,3.2,0.1214,False,False,False
3,27.4,88,24.3,1.30,2.69,58,105,1.6,0.1003,False,False,False
4,27.3,88,24.1,2.47,4.43,58,84,4.0,0.0793,False,False,False

In [73]:
merged_data['wind_speed_category'] = pd.cut(
    merged_data['windspeed_10m'], bins=[0, 5, 10, 15, 20, 50], labels=['Low', 'Moderate', 'High', 'Very High', 'Extreme'])
merged_data.head()

,temperature_2m,relativehumidity_2m,dewpoint_2m,windspeed_10m,windspeed_100m,winddirection_10m,winddirection_100m,windgusts_10m,Power,Location_Location2,Location_Location3,Location_Location4,wind_speed_category
0,28.5,85,24.5,1.44,1.26,146,162,1.4,0.1635,False,False,False,Low
1,28.4,86,24.7,2.06,3.99,151,158,4.4,0.1424,False,False,False,Low
2,26.8,91,24.5,1.30,2.78,148,150,3.2,0.1214,False,False,False,Low
3,27.4,88,24.3,1.30,2.69,58,105,1.6,0.1003,False,False,False,Low
4,27.3,88,24.1,2.47,4.43,58,84,4.0,0.0793,False,False,False,Low